# Azure OpenAI Service Configuration
AZURE_OPENAI_BASE_URL=https://.../openai/
AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AZURE_OPENAI_EMBEDDING=text-embedding-3-large

ALFRED_ENCRYPTION_KEY=... # See readme for instructions on how to generate this key
# Further configuration shall be added in the settings page of the app